
.btn{
    background-color: gray;
    color: white;
    border-radius: 5px;
    border:none;
    transition: 0.1s;
    height: 30px;
    width: 200px;
   
}

.btn:hover{
    background-color: orange;
}

.counter{
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin: 20px 0px;
}
.row{
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}
.input{
    width: 193px;
    height: 23px;
}